
@{
    ViewData["Title"] = "Footer";
}
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>StayAtEase – <br />Your Perfect Rental, <br />One Click Away!</h3>
                    <p>Discover your ideal rental with ease. Whether you're looking for a cozy apartment or a spacious house, we bring you the best listings with a seamless experience.</p>
                </div>
                <div class="col-lg-3 col-md-6 footer-links" style="padding-bottom:10px;" ">
                    <h4>Useful Links</h4>
                    <ul style="letter-spacing:0.3px; padding-bottom:10px;">
                        <li><i class="ion-ios-arrow-right"></i> <a href="#home">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#properties">Properties</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#about">Wishlist</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p style="letter-spacing:0.7px;">
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>StayAtEase</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">KashishKoshiya</a>
            </div>
        </div>
    </div>
</footer>