
@{
    Layout = "_SuperAdminLayout";
    ViewData["Title"] = "Super Admin Dashboard";
    ViewData["ActivePage"] = "Super_AdminDashboard"; // Ensure ActivePage is set
}

<h1>Super_AdminDashboard</h1>

