@{
    ViewData["Title"] = "PropertyDetails";
}

<a href="c:\users\paral\source\repos\stayatease_asp.net\views\home\propertydetails.cshtml">c:\users\paral\source\repos\stayatease_asp.net\views\home\propertydetails.cshtml</a>